/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
  color: white;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { 
  border: 0;
}

#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("img/loading.gif") no-repeat center center rgba(0,0,0,0.8)
}
/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #F2F2F2;
}
h1{
	font-size: 6em;
}
p{
	font-size: 1.6em;
}
.content{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

/* Section 1
 * --------------------------------------- */
#section0{
  background: url(img/header.png) no-repeat;
  background-position: right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
#section0 h1{
	color: #fff;
}

#section0 h2{
  color: #fff
}
#section0 p{
	color: #333;
}

.header {
  float: left;
  padding-left: 17%;
  background-color: rgba(0, 0, 0, 0.4);
}

.headerWrapper {

}

.title {
  height: 200px;
  max-width: 1000px;

  position: fixed;
  top: 35%;
  bottom: 50%;
  margin-top: -100px;
  margin-left: 6%;
}

.socialIcons {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}

.arrowDown {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px;
}


/* Section 2
 * --------------------------------------- */
#section1{
  background: url(img/overons.png) no-repeat; 
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

/*#section1 {
  background: url(img/overons.jpeg) center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}*/
#section1 h1{
	color: #fff;
}
#section1 p{
	opacity: 0.8;
}


/* Section 3
 * --------------------------------------- */
#section2{
  background: url(img/menu.png) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#section2 h1{
	color: #F2F2F2;
}
#section2 p{
	opacity: 0.8;
}

.s2Title {
  text-align: center;
  font-size: 3em;
  padding-top: 1.5%;
}

.s2Column {
  text-align: justify;
  max-width: 80%;
  padding-right: 10%;
  padding-left: 10%;

}

.thumbnails img {
  height: 80px;
  border: 4px solid #555;
  padding: 1px;
  margin: 0 10px 10px 0;
}

.thumbnails img:hover {
  border: 4px solid #00ccff;
  cursor:pointer;
}

.preview img {
  border: 4px solid #444;
  padding: 1px;
  max-width: 40%;
  margin: 0;
}

/* Section 4
 * --------------------------------------- */
#section3{
  background: url(img/page4.jpg) no-repeat;
  background-color: rgb(58, 56, 56); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#section3 h1{
	color: #F2F2F2;
}

#section3 p{
	opacity: 0.6;
}

.left-col {
  width: 50%;
  min-height: 100%;
  border-right: 2px solid white;
  float: left;
  box-sizing: border-box;
}

.right-col {
  width: 50%;
  min-height: 200px;
  float: right;
}

.left-title {
  margin-left: 3%;
  font-size: 2rem;
}

.contactIcons {
  padding: 2px;
}

.fa-map-marker{
  margin-left: 5px;
}

.fa-globe {
  margin-left: 2px;
}

.fa-phone {
  margin-left: 2px;
}

.contact {
  margin-left: 4%;
  margin-top: 4%;
}
/*Right side*/
.contact-text {
  font-size: 1.5rem;
}

.contact-text#email, .contact-text#bericht {
  padding-top: 10px;
}
.right-title {
  font-size: 2rem;
  margin-left: 3%;
}

.contact-form {
  margin-left: 4%;
  margin-top: 4%;
  position: relative;
}

input[type=text] {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4px;
  padding: 8px;
  width: 30%;
  color: white;
  position: relative;
}

input[type=email] {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4px;
  padding: 8px;
  width: 40%;
  color: white; 
  position: relative;
}

input[type=text].bericht {
  line-height: 10%;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4px;
  padding: 15%;
  width: 60%;
  color: white;
  resize: none;
}

input[type=submit] {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  padding: 5px;
}

textarea {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  padding: 5px; 
}


@media screen and (max-width: 1000px) {
  .s2Title {
    font-size: 2em;
  }

  p {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 600px) {
  p {
    font-size: 1.2em;
  }

  .preview img {
    max-width: 80%;
  }
}

@media screen and (max-width: 415px) {
  .s2Title {
    font-size: 1.6em;
  }

  p {
    font-size: 0.95em;
  }

  .preview img {
    max-width: 98%;
  }
}