html, body {
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	background-color: black;
}

p, h1, h2 {
	color: white;
}

/*    topMenu        */

.topMenu {
	position: absolute;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
	z-index: 2;
}

.topMenuItem {
	display: inline-block;
	margin: auto;
}

#topMenuItem1 {
	padding-right: 10px;
}

#topMenuItem2 {
	padding-left: 10px;
}


.siteTitle {
	display: inline-block;
	margin: auto;
}

/*      /  topMenu      */


/*      Header image  */
.headerImage {
width: 100%;
/*position: absolute;*/
}
/*     /  Header image */

/*     Menu     */
.menuTitle {
	display: inline-block;
	margin: auto;
	text-align: center;
	width: 100%;
}

/*.menuItems {
	display: inline-block;
	margin: auto;
	width: 100%;
	text-align: center;
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;

}*/

.menuItems {
	display: inline-block;
	margin: auto;
	width: 100%;
	align-content: center;
	margin-left: 20%;
}

.voorGerechten {
	float: left;
	padding-right: 15%;
}

.hoofdGerechten {
	float: left;
	padding-right: 15%;
}

.naGerechten {
	float: left;
	padding-right: 15%;
}

.dranken {
	float: left;
	padding-right: 15%;
}