/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
  color: white;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("img/loading.gif") no-repeat center center rgba(0,0,0,0.8)
}
/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #F2F2F2;
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.content{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

/* Section 1
 * --------------------------------------- */
#section0{
  background: url(img/header.jpg) center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
#section0 h1{
	color: #fff;
}

#section0 h2{
  color: #fff
}
#section0 p{
	color: #333;
}

.header {
  float: left;
  padding-left: 17%;
  background-color: rgba(0, 0, 0, 0.4);
}

.headerWrapper {

}

.title {
  height: 200px;
  width: 1000px;

  position: fixed;
  top: 35%;
  bottom: 50%;
  margin-top: -100px;
  margin-left: 6%;
}

.socialIcons {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}

.arrowDown {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px;
}


/* Section 2
 * --------------------------------------- */
#section1{
  background: url(img/page2.jpg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
#section1 h1{
	color: #fff;
}
#section1 p{
	opacity: 0.8;
}


/* Section 3
 * --------------------------------------- */
#section2{
  background: url(img/overons.jpg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#section2 h1{
	color: #F2F2F2;
}
#section2 p{
	opacity: 0.6;
}

/* Section 4
 * --------------------------------------- */
#section3{
  background: url(img/page4.jpg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#section3 h1{
	color: #F2F2F2;
}
#section3 p{
	opacity: 0.6;
}